body {
    font-family: sans-serif;
}

#div1 {
    margin-top: 40px;
    margin-left: 50px;
}

td,th {
    border-bottom: 1px solid #ddd;
    width: 150px;
    height: 50px;
    text-align: left;
}

.tittle {
    margin-bottom: 100px;
}

#employeeTable {
    margin-bottom: 80px;
}

.filas {
    margin-top: 100px;
}

button {
        background-color: rgb(89, 89, 236);
        color: rgb(255, 255, 255);
        border-color: rgb(89, 89, 236);
        height: 35px;
        width: 100px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;
        transition: background-color 1s, color 1s;
    }

input {
    margin-bottom: 50px;
    margin-left: 0px;
    width: 30%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

}

label {
    width: 20%;
    margin-left: 100px;
}


.create {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-left: 0px;
}

.inputs{
    margin-right: 1000px;
}