<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Employees CRUD</title>
    <link rel="stylesheet" href="../static/employees.css">
</head>
<body>
    <div id="div1">
        <h1 class="tittle">CREATE NEW EMPLOYEE</h1>
        <form th:action="@{/newPage/confirm}" method="post" onsubmit="return confirm('¿Está seguro de que desea crear un empleado?')">
            <div class="inputs">

                <div class="create">
                <label for="employeeId">EMPLOYEE ID</label>
                <input type="text" id="employeeId" name="employeeId" required><br>
                </div>

                <div class="create">
                <label for="firstName">FIRST NAME</label>
                <input type="text" id="firstName" name="firstName" required><br>
                </div>
                
                <div class="create">
                <label for="lastName">LAST NAME</label>
                <input type="text" id="lastName" name="lastName" required><br>
                </div>
        
                <div class="create">
                <label for="role">ROLE</label>
                <input type="text" id="role" name="role" required><br>
                </div>
        
                <div class="create">
                <label for="salary">SALARY</label>
                <input type="text" id="salary" name="salary" required><br>
                </div>

            </div>
            <button type="submit">Crear nuevo empleado</button>
        </form>
    </div>
</body>
</html>